.body{
}
#wrapper{
    background-color: #EEEEEE;
}
.logo h1{
    float: left;
}

.backgroundheader{
    padding: 0;
    background-color: #424242;
}
.header{
    margin: 0;
}

.container{
    border-bottom: red;
}
.nav-shado{
    box-shadow: 0px 10px 15px #424242;
    border-bottom: 2px solid #424242;
}
.navigation{
    margin: 0;
    height: 100px;
}
.navigation h1{
    color: #0277BD;
}
.navigation2{
    font-size: 30px;
    list-style-type: none;
    margin-top: 45px;
    padding-left: 50px; 

}
.navigation2 li{
    display: inline;

}
.navigation2 a{
    color: #0277BD;
    margin-left: 5px;
}
.navigation2 li a:hover{
    color: #29B6F6;
}
.droppdown{
    background-color: #424242;
    height: 300px;
    width: 50px;
}
.mega-menu {
    width: 530px;
    border-radius: 0;
    margin-top: 0px;
}
.mega-menu li {
    display: inline-block;
    float: left;
    font-size: 20px;
    padding: 3px 0px;
    width: 75px;
}
.mega-menu li.mega-menu-column {
    margin-right: 20px;
    width: 150px;
    font-size: 20px;
}
.mega-menu .nav-header {
    padding: 0 !important;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    color: #0277BD;
}
.mega-menu .undermen a{
    color: #fff;
}
.mega-menu .undermen a:hover{
    color: #fff;
}
/*Login-signup*/


.login{
    float: right;
    padding-right: 20px;
    text-decoration: none;
}
.login h2{
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 40px;
}
.LS-droppdown{
    background-color: #424242;
    width: 522px;
    left: 715px;
    position: absolute;
    z-index: 9999;

}
.navigation2 .login a:hover {
    color: #fff;
    text-decoration: none;
}
.login-menu{
    border-radius: 0;
    margin-top: -4px;
}
input {
    width:200px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.top{
    padding-top: 20px;  
}
.user{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 7px;
    color: #fff;
}
.send{
    width:100px;
    background-color: #E0E0E0;
    color:#0277BD;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #999;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 7px;
}
.send:hover {
    color: #212121;
    background-color: #EBEBEB;
}
.row{

}
.slider{
    margin-top: 102px;
    margin-bottom: 50px;                      
}
.underslider{
    height: 350px;
    margin-bottom: 25px;
    overflow: hidden;
}
.underslider h3{
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    width: 100%;
    background-color: #EEEEEE;
    margin:0;
    opacity: 0.9;
    margin-top: -70px;
    font-family: 'Philosopher', sans-serif;
}
.underslider:hover h3{
    background-color: #E0E0E0;
}
.img{
    width: 100%;
    height: 350px;
}
.indexproduktnav{
    margin-top: 20px;
    border-top: solid 1px #CFD8DC;
    border-bottom: solid 1px #B0BEC5;

}
.indexproduktnav li a{
    font-size: 20px;
    color: #0277BD;
}
.indexproduktnav li a:hover{
    color: #29B6F6;
    background-color: #BDBDBD;
}
.indexprodukt{
    margin-top: 20px;
}
.img2{
    width: 100%;
    height: 250px;
}

/*Shop*/



.sub-menu { 
    display: none;
}
#sorting-list{
    width: 90%;
    position: absolute;
    margin-top: 120px;
    background-color: #757575;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow:  0 0 2px 0px #0a526f;
}

#sorting-list h3{
    font-style: normal;
    margin-top: 10px;
    margin-left: 15px;
    color: #fff;
}
#sorting-list div{
    border-radius: 0;
}

.top-shop{
    margin-top: 120px;
}

.collapsed:hover {
    text-decoration: none;

}
.collapsed h4{
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.collapsed:hover h4{
    background-color: rgba(2,119,189,0.7);
    color: white;
    text-decoration: none;
}



.panel-heading{
    padding: 0;
}
.panel-title{
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.panel-title:hover {
    background-color: rgba(2,119,189,0.7);
    color: white;
    text-decoration: none;
}

.filterBtnDesign{
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.filterBtnDesign:hover{
    background-color: rgba(2,119,189,0.3);
}

.filterBtnDesign p{
    padding: 5px;

}

.filterBtnColor{
    box-shadow: 0px 0px 1px 1px gray;
    padding: 10px;
    border-radius: 0;
    margin: 10px;

}
.filterBtnColor:hover{
    box-shadow: 0px 0px 4px 1px #0277BD;

}


.catagoryDesign label{
    width: 100%;
    padding: 0;
    margin: 0;
}
.catagoryDesign label p{
    text-align: left;
    margin-top: 10px;
}


.checkBoxDesign label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    width: 100%;
}

.checkBoxDesign input[type=checkbox] {
    display: none;
}
.checkBoxDesign label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}


.checkBoxDesign label {
    margin-bottom: 10px;
}
.checkBoxDesign label:hover {
    background-color: rgba(2,119,189,0.2);
}
.checkBoxDesign input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 25px;
    color: #0277BD;
    text-align: center;
    line-height: 15px;
}


.pagination {
    list-style:none; 
    clear:both;  
    float:right;
    
}
.pagination li{
    float:left; 
    margin:2px;
}
.pagination li a{ 
   padding: 3px 7px 3px 7px;
    display:block;
    color:#fff; 
    background-color:rgba(2,119,189,0.7);
    text-decoration:none;
    border: 1px solid #0a526f;
    font-size: 16px;
}
.pagination li a:hover{ 
    background-color:rgba(2,119,189,0.4);
     border: 1px solid #0a526f;
     color: white;
}
.pagination li a.active {
    color:white; 
    background-color:#0a526f;
}
.pagination li a.inactive {
    background-color:#eee; 
    color:#777; 
}

/*  
background-color:#424242;
    border: 2px solid #0a526f;
       border-bottom: 2px solid ;
  box-shadow: 0 0 10px 0 rgba(2,119,189,0.5);
*/

/*produktsidan*/ 


.similarproducts{
    border-top: 2px solid #0277BD;
    border-bottom: 2px solid #0277BD;
    padding: 30px 0 30px 0;

}
.productslist div{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 5px;
}
.productslist div:hover{
    box-shadow: 0 0 10px 0 rgba(2,119,189,0.5);
    color: #0a526f;
}

.productslist img{
    padding: 5px;
    width: 100%;
    border: 2px solid #0a526f;

}
.productslist h3{
    text-align: center;
    font-size: 17px;
    padding: 0;
    margin: 5px;
}
.productslist h4{
    text-align: center;
    font-size: 17px;
    padding: 0;
    margin: 5px;
}

.similarproductstitle {
    text-align: center;
    font-size: 20px;
    margin-top: -32px;
    margin-bottom: 32px;
    line-height: 0;
    background-color: red;
    color: #0277BD;
}
.similarproductstitle span{
    background-color: #EEEEEE;
    padding: 0 5px 0 5px;
}


/*Product*/

.top-product{
    margin-top: 120px;
}
.producttitledesign{
    background-color:#424242;
    box-shadow:  0px 0px 2px 0px #0277BD;
}
.producttitledesign h2{
    color: white;
    font-size: 19px;
    padding: 16px;
    margin: 0 0 10px 0;

}
.pimg img{
    width: 100%;
    border: 2px solid #0a526f;
}
.sidebar {
}

.close{
    right: 5px;
    color: #0277BD;
    opacity: 1;
    font-size: 25px;
    top: 0;
    position: absolute;
    cursor:pointer;
    z-index: 58;
}

.lightboxdesign2 p{
    background-color: whitesmoke;
    padding: 15px 10px 15px 5px;
    font-size: 20px;
    border: 2px solid #0a526f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.lightboxdesign2:hover{

    text-decoration: none;
}
.lightboxdesign2:hover p{
    background-color: rgba(2,119,189,0.5);
}
.lightboxdesign p{
    background-color: whitesmoke;
    padding: 15px 10px 15px 18px;
    font-size: 20px;
    border: 2px solid #0a526f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.lightboxdesign:hover{

    text-decoration: none;
}
.lightboxdesign:hover p{
    background-color: rgba(2,119,189,0.5);
}
.sharebackdrop{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity: .0;
    filter:alpha(opacity=0);
    z-index:50;
    display:none;
}
.closeshare{
    right: 10px;
    color: #0277BD;
    opacity: 1;
    font-size: 25px;
    top: 0;
    position: absolute;
    cursor:pointer;
    z-index: 58;
}
.closeshare:hover{

    color: gray;

}
.backdrop{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity: .0;
    filter:alpha(opacity=0);
    z-index:50;
    display:none;
}

.sharepbox{
    position:absolute;
    top:15%;
    left:42%;
    background:#ffffff;
    z-index:51;
    padding: 20px;
    margin: 0;
    box-shadow:0px 0px 7px #0277BD;
    display: none;
    width: 20%;
}
.pbox{
    position:absolute;
    top:15%;
    left:15%;
    background:#ffffff;
    z-index:51;
    padding: 20px;
    margin: 0;
    box-shadow:0px 0px 7px #0277BD;
    display: none;
    width: 70%;
}
.pbox img{
    height: 600px;
}



.addprodukt{

    color:#0277BD;
    border: 2px solid #0a526f;
    box-shadow:  0px 0px 2px 0px #0277BD;
    border-radius: 0;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px 35px 10px 35px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.addprodukt p {
    margin: 0;
    padding: 0px;
    font-size: 17px;
}
.addprodukt a {
    margin: 0;
    padding: 0px;
    font-size: 17px;
}

.addprodukt:hover a{
    color: white;

}
.addprodukt:hover {
    background-color: #0277BD;

}
.addprodukt:hover p{
    color: white;

}
.productcolorbutton{

}
.productcolorbuttontest a{
    background-color: red;
}
.productsizebutton{
    width: 150px;
    height: 35px;
}


.productbuttondesign{
    color:#0277BD;
    border: none;
    box-shadow:  0px 0px 2px 0px #0277BD;
    border-radius: 0;
    background-color: whitesmoke;
    text-align: center;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.productbuttondesign p {
    padding: 12px;
    font-size: 17px;
}

.productbuttondesign:hover {
    background-color: #0277BD;

}
.productbuttondesign:hover p{
    color: white;

}
.productbuttondesign:hover a{
    text-decoration: none;
    color:#0277BD;

} 

.productdetails{
    border-left: solid 1px rgba(2,119,189,0.3);
    border-right: solid 1px rgba(2,119,189,0.3);
    border-bottom: solid 1px rgba(2,119,189,0.3);
    margin: 0 0 10px 0;
    background-color: white;
}
.productdetails p{
    color: #0277BD;
    font-size: 14px;
    padding: 10px;
}
.productdetails h4{
    color: #0277BD;
    font-size: 16px;
}


.lightbox-container a:active,
.lightbox-slider a:active,
.lightbox-container a:focus,
.lightbox-slider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lightbox-slider a img { outline: none; border: none; }

.lightbox-slider {
    margin: 0;
    padding: 0;
}
.lightbox-slider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.lightbox-slider .slides img {
    width: 100%;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.flex-direction-nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    width: 45px;
    height: 45px;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 52;
    background-color: #0277BD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0277BD), to(#0277BD));
    background-image: -webkit-linear-gradient(top, #0277BD, #0277BD);
    background-image: -moz-linear-gradient(top, #0277BD, #0277BD);
    background-image: -o-linear-gradient(top, #0277BD, #0277BD);
    background-image: linear-gradient(to bottom, #0277BD, #0277BD);
}
.flex-direction-nav a:before {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 13px;
    top: 11px;
    left: 11px;
}

.flex-direction-nav a:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;

    top: 45px;
}
.flex-direction-nav .flex-next {
    right: -5px;
}

.flex-direction-nav .flex-prev {
    left: -5px;
}

.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }

.flex-direction-nav .flex-next:after {
    right: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #31611e;
}

.flex-direction-nav .flex-prev:after {
    left: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #31611e;
}
.lightbox-slider .flex-control-nav {
    position: absolute;
    width: 100%;
    bottom: -40px;
    text-align: center;
    margin: 0 0 0 -10px;
}

.flex-control-nav li {
    display: inline-block;
    zoom: 1;
}

.flex-control-paging li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    background-color: #0277BD \9;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    -webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
    -moz-box-shadow: inset 0 0 0 2px #b6b6b6;
    box-shadow: inset 0 0 0 2px #b6b6b6;
}

.flex-control-paging li a.flex-active {
    background-color: #0277BD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0277BD), to(#0277BD));
    background-image: -webkit-linear-gradient(top, #0277BD, #0277BD);
    background-image: -moz-linear-gradient(top, #0277BD, #0277BD);
    background-image: -o-linear-gradient(top, #0277BD, #0277BD);
    background-image: linear-gradient(to bottom, #0277BD, #0277BD);
    box-shadow: inset 0 0 5px 0 #0a526f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


#thumb { 
    height: 100px;
    width: 100%;


}
#thumb li { 
    width: 70px;
    margin: 10px 5px;
    float: left; 
    position: relative;  
    list-style: none; 

}
#thumb a { 
    display: block;
    height: 70px;
    border: 3px solid #FFFFFF;
    box-shadow: 1px 1px 3px #0a526f;

}
#thumb li.activeSlide a { 
    border: 3px solid #0277BD;
    box-shadow: 1px 1px 3px #333333;
}
#thumb a:focus { 
    outline: none;

}
#thumb img { 
    height: 64px;
    border: none; 
    display: block;
}

#thumb a:hover { 
    box-shadow:  0px 0px 2px 2px #0277BD;
}













/*Contact*/

.Con{
    margin-top: 100px;
}

/* #### Dark Matter #### */
.dark-matter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 55px;
    width: 650px;
    background: #757575;
    padding: 20px 30px 20px 30px;
    color: #212121;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.dark-matter h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.dark-matter h1>span {
    display: block;
    font-size: 18px;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 0px; 
}
.dark-matter label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
.dark-matter select {
    background: #DFDFDF url('../img/arrow-down.png') no-repeat right;
    -webkit-appearance:none; 
    text-indent: 0.01px;
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
.dark-matter textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.dark-matter .button {
    background-color: #E0E0E0;
    color:#0277BD;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #999;
    margin-left: 20px;
    height: 30px;
}
#button{
    float: left;
    width: 20%;

    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.dark-matter .button:hover {
    color: #212121;
    background-color: #EBEBEB;
}
#check{
    border: 1px solid #999;
    width: 20px;
    height: 20px;
}




.backgroundfooter{
    margin: 0;
    margin-top: 70px;
    padding: 0;
    background-color: #424242;
}

.footercontent{
    height: 250px; 
}
.footercontent h2{
    color: #0277BD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footercontent p{
    color: #0277BD;
}

/* add to cart*/


.cartlightboxdesign img{
    width: 50px;
    height: 40px;
    border: 2px solid #0a526f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cartlightboxdesign:hover img{
    background-color: rgba(2,119,189,0.5);
}


.closecart{
    right: 10px;
    color: #0277BD;
    opacity: 1;
    font-size: 25px;
    top: 0;
    position: absolute;
    cursor:pointer;
    z-index: 58;
}
.closecart:hover{

    color: gray;

}

.cartpbox{
    position:absolute;
    background:#ffffff;
    z-index:51;
    padding: 20px;
    margin: 0;
    box-shadow:0px 0px 7px #0277BD;
    display: none;
    width: 70%;
}











